.social-icons .podcast-social-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
}

.social-icons .podcast-social-icon-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .social-icons .podcast-social-icon-light {
    display: none;
  }

  .social-icons .podcast-social-icon-dark {
    display: block;
  }
}

:root[data-theme="light"] .social-icons .podcast-social-icon-light {
  display: block;
}

:root[data-theme="light"] .social-icons .podcast-social-icon-dark {
  display: none;
}

:root[data-theme="dark"] .social-icons .podcast-social-icon-light {
  display: none;
}

:root[data-theme="dark"] .social-icons .podcast-social-icon-dark {
  display: block;
}
