<div class="social-icons" {{ with .align}}align="{{.}}" {{- end }}>
    {{- range site.Params.socialIcons }}
    {{- $iconName := (trim .name " " | lower) }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{- if eq $iconName "xiaoyuzhou" }}
        <img class="xiaoyuzhou-social-icon xiaoyuzhou-social-icon-light" src="/images/podcast/Xiaoyuzhou_Light.png" alt="{{ (.title | default .name) }}">
        <img class="xiaoyuzhou-social-icon xiaoyuzhou-social-icon-dark" src="/images/podcast/Xiaoyuzhou_Dark.png" alt="{{ (.title | default .name) }}">
        {{- else }}
        {{ partial "svg.html" . }}
        {{- end }}
    </a>
    {{- end }}
</div>
